* {
    margin: 0;
}

body {
    background-color:whitesmoke;
}


.main {
    height: 700px;
    width: 1000px;
    background-color:#E8E2E2;
    display: flex;
    margin: auto;
    margin-top: 25px;
    /* box-shadow: 5px 10px 18px white; */
    /* border: 2px solid yellow; */
    border-radius: 20px;
}

.first {
    height: 700px;
    width: 800px;
    background-color:white;
    text-align: center;
    /* box-shadow: 5px 10px 18px white; */
    border-radius: 20px;
}

.second {
    height: 700px;
    width: 400px;
    background-color:#952323;
    text-align: center;
    /* box-shadow: 5px 10px 18px red; */
    border-radius: 20px;
}

.containerOne {
    margin-top: 150px;
}

.containerTwo {
    margin-top: 230px;
}

.containerOne>p {
    margin-top: 10px;
    /* color:grey; */
    font-family: "Poppins";
}

.fortextone {
    font-size: 2em;
    font-family: "Poppins";
}

.fortexttwo {
    padding: 10px;
    font-size: 2em;
    font-family: "Poppins";
    color:white;
}

.fortextthree {
    padding: 10px;
    font-size: 1em;
    font-family: "Poppins";
    color: white;
}

input[type=email] {
    width: 40%;
    padding: 10px 0;
    margin: 7px 0;
    border: 1px solid grey;
    border-radius: 15px;
    box-sizing: border-box;
    /* background-color: #F4EEEE; */
}

input[type=password] {
    width: 40%;
    padding: 10px 0;
    margin: 7px 0;
    border: 1px solid grey;
    border-radius: 15px;
    box-sizing: border-box;
    /* background-color: #F4EEEE; */
}

input[type="email"]{
    text-align: left;
    padding-left: 10px;
}

input[type="password"]{
    text-align: left;
    padding-left: 10px;
}

#signinbutton {
    height: 40px;
    width: 120px;
    margin: 15px;
    background-color:white;
    border: 1px solid #952323;
    border-radius: 20px;
    font-size: 13px;
    color:#952323;
}

#signupbutton {
    height: 40px;
    width: 120px;
    margin: 15px;
    background-color:white;
    border: 2px solid #952323;
    border-radius: 20px;
    font-size: 13px;
    color: #952323;
}

.socials {
    margin-top: 8px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 6px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

/* .fa-twitter {
    background: #55ACEE;
    color: white;
} */
  
.fa-youtube {
    background: #bb0000;
    color: white;
}
  
.fa-linkedin {
    background: #007bb5;
    color: white;
}
  
 

 