
*{
     
    margin: 0;
     
}

/* .navbar {
  position:static;
} */

.navcontainerone {
    background-color:white;
    height: 30px;
}

.navcontainertwo {
    height: 70px;
    background-color: white;
    display: flex;
}

.navcontainertwo > h1 {
    font-size: 45px;
    font-family: sans-serif;
    margin-left: 85px;
    padding: 8px;
    color: #952323;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin-left: 60px;
    margin-top: 6px;
    font-family:sans-serif;
    font-size: small;
}

.sidecontent {
  display: flex;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    position: fixed;
    height: 700px;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #D8D9DA;
    color: black;
  }
  
  .sidebar a:hover:not(.active) {
    background-color:#9BA4B5;
    color: white;
  }
  
  div.content {
    padding: 1px 16px;
    height: 1000px;
    color:black;
    background-color:white;
    margin-left: 250px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }


/*  
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  */

/* .navcontainertwobutton {
  height: 10px;
  width: 60px;
  padding: 25px;
  background-color:#952323; 
} */

/* .navcontainertwobutton {
  background-color: aqua;
  margin-left: 500px;
} */

.navcontainertwobutton > a > button {
  height: 40px;
  width: 100px;
  margin: 15px;
  margin-left: 950px;
  font-size: 15px;
  color:#952323;
  /* color: black; */
  /* background-color:#952323; */
  /* background-color: #D8D9DA; */
  border: 2px solid #952323;
  background-color: white;
  border-radius: 20px;
}

/* .navcontainertwobutton > i {
  
} */

.news1 {
  /* height:700px; */
  /* width:1000px; */
  display:flex;
  /* background-color: crimson; */
  gap: 50px;
}

.news2 {
  display: flex;
  gap: 50px;
}

.one {
  height: 300px;
  width: 350px;
  background-color:#9BA4B5;
  margin-top: 50px;
  margin-left: 40px;
  /* border: 2px solid black; */
  border-radius: 20px;
}

.two {
  height: 300px;
  width: 350px;
  background-color:#D8D9DA;
  margin-top: 50px;
  /* border: 5px solid white; */
  border-radius: 20px;
}

.three {
  height: 300px;
  width: 350px;
  background-color:#9BA4B5;
  margin-top: 50px;
  border-radius: 20px;
}

.four {
  height: 300px;
  width: 350px;
  background-color: #9BA4B5;
  margin-left: 40px;
  margin-top: 50px;
  border-radius: 20px;
}

.five {
  height: 300px;
  width: 350px;
  background-color:#D8D9DA;
  margin-top: 50px;
  border-radius: 20px;
}

.six {
  height: 300px;
  width: 350px;
  background-color:#9BA4B5;
  margin-top: 50px;
  border-radius: 20px;
}

.oneshort {
  height: 150px;
  width: 327px;
  background-color:darkslateblue;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  text-align: center;
}

.twoshort {
  height: 150px;
  width: 327px;
  background-color:darkslateblue;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  text-align: center;
}

.threeshort {
  height: 150px;
  width: 327px;
  background-color:darkslateblue;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  text-align: center;
}

.fourshort {
  height: 150px;
  width: 327px;
  background-color:darkslateblue;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  text-align: center;
}

.fiveshort {
  height: 150px;
  width: 327px;
  background-color:darkslateblue;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  text-align: center;
}

.sixshort {
  height: 150px;
  width: 327px;
  background-color:darkslateblue;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  text-align: center;
}



img {
  height: 150px;
  width: 327px;
  background-color:darkslateblue;
  /* margin-top: 10px; */
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  border-radius: 20px;
}